
@{
    ViewBag.Title = "Répertoire de photos";
}

<h2>Répertoire de photos</h2>

<div id="photosContainer"><!--Rafraichis périodiquement--></div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/partialRefresh")
    <script>
        let partialRefresh = new PartialRefresh("@Url.Action("GetImages")?fieldToSort=dates", "photosContainer", 5, postRefreshPhotos);
        function postRefreshPhotos() {
            null;
        }
    </script>
} 